@{
    ViewBag.Title = "Home Page";
}



<div class="container" id="tabs" style="background-color:antiquewhite">
    <div class=" col-md-12" style="padding-top: 25px;">
        <button class="btn btn-info col-md-3" data-bind="event: {click: $root.Add},enable: enableDisableAdd"
                type="button" id="btnAdd">
            <i class="fas fa-plus fa-md"> New</i>
        </button>
        <button class="btn btn-success col-md-3" data-bind="event: {click: $root.Save},enable: enableDisableSave"
                type="button" id="btnSave">
            <i class="fas fa-save fa-md"> Save</i>
        </button>
        <button class="btn btn-primary" data-bind="event: {click: $root.MainUpdate},enable: $root.enableDisableUpd" type="button" id="btnmainupdate"><i class="fas fa-backspace fa-md">MainUpdate</i></button>


    </div>
    <ul>
        <li><a href="#tabs-1">Personal Info</a></li>
        <li><a href="#tabs-2">Address</a></li>

        <li><a href="#tabs-3">dashboard</a></li>
    </ul>
    <div id="tabs-1" data-bind="with: MyModel">
        <h2 style="text-align: center;">Personal Information Form</h2>

        <div class="wrapp">

            <div class="col-md-4">
                <label for="Salutation">Salutation</label>
                <select class="form-control" id="Salutation" data-bind="
                            value:SalutationId,
                            options:$root.Salutationlist,
                            event:{ change:$root.onChangeOfSalutation},
                            enable:$root.enableDisable,
                            optionsValue: 'Value',
                            optionsText:'Text',
                            optionsCaption: '---SELECT salutation---'">
                </select>
            </div>
            <div class="col-md-4">
                <label for="FirstName">First Name</label>
                <input type="text" data-bind="value:FirstName,enable:$root.enableDisable"
                       class="form-control" id="inputFirstName" placeholder="First Name">

            </div>

            <div class="col-md-4">
                <label for="LastName">Last Name</label>
                <input type="text" data-bind="value:LastName,enable:$root.enableDisable"
                       class="form-control" id="inputLastName" placeholder="Last Name">

            </div>
            <div class="col-md-4">
                <label for="Email">Email</label>
                <input type="email" data-bind="value:Email,enable:$root.enableDisable"
                       class="form-control" id="inputEmail" placeholder="Email">

            </div>
            <div class="col-md-4">
                <label for="phone">Phone Number</label>
                <input type="number" data-bind="value:Phone,enable:$root.enableDisable"
                       class="form-control" id="inputPhone" placeholder="Phone">
            </div>
            <div class="col-md-4">
                <label for="Age">Age</label>
                <input type="text" data-bind="value:Age,enable:$root.enableDisable"
                       class="form-control" id="inputAge" placeholder="Your Age">
            </div>
            <div class="col-md-6">
                <label for="Gender">Gender:   </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input1" type="radio" value="Male"
                           data-bind="checked: SelectedGender,enable:$root.enableDisableGender"
                           name="inlineRadioOptions" id="inlineradio1">
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input1" type="radio" value="Female"
                           data-bind="checked: SelectedGender,enable:$root.enableDisableGender"
                           name="inlineRadioOptions" id="inlineradio2">
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                </div>
            </div>
            <div class="form-check col-md-6">
                <Label for="Education">Education: </Label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input"
                           data-bind="checked: chosenEdu,enable:$root.enableDisable" type="checkbox"
                           name="education1" id="inlineCheckbox1" value="SLC">
                    <label class="form-check-label" for="inlineCheckbox1">SLC</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input"
                           data-bind="checked: chosenEdu,enable:$root.enableDisable" type="checkbox"
                           name="education2" id="inlineCheckbox2" value="+2">
                    <label class="form-check-label" for="inlineCheckbox2">+2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input"
                           data-bind="checked: chosenEdu,enable:$root.enableDisable" type="checkbox"
                           name="education3" id="inlineCheckbox3" value="Bachelor">
                    <label class="form-check-label" for="inlineCheckbox3">Bachelor</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input"
                           data-bind="checked: chosenEdu,enable:$root.enableDisable" type="checkbox"
                           name="education4" id="inlineCheckbox4" value="Masters">
                    <label class="form-check-label" for="inlineCheckbox4">Masters</label>
                </div>
            </div>

            <div class="col-md-12">
                <label for="Nationality">Nationality</label>
                <select class="form-control" id="nationality" data-bind="value: nationalId,
                            options: $root.NationalList,
                            enable: $root.enableDisable,
                            optionsValue: 'Value',
                            optionsText:'Text',
                            optionsCaption:'-----select your Nationality-----'">
                </select>

            </div>

        </div>


    </div>

    <div id="tabs-2">
        <h2 style="text-align: center;">Address Form</h2>
        <div data-bind="with: MyAddress">
            <div id="dataGrid"></div>

            <div class="abcd" style="padding-top:20px">

                <div class=" col-md-4">
                    <label for="AddressType">Address Type</label>

                    <select class="form-control" data-bind="value: AddressTypeId,
                            options: $root.AddressTypeList,
                            enable:$root.enableDisable,
                            optionsValue: 'Value',
                            optionsText: 'Text',
                            optionsCaption: '------Select your Address Type--------'">
                    </select>
                </div>
                <div class=" col-md-4">
                    <label for="Province">Province</label>
                    <select class="form-control" id="province"
                            data-bind="value:provinceId,
                        options: $root.provincelist,
                        enable: $root.enableDisable,
                        optionsValue:'Value',
                        optionsText:'Text',
                        optionsCaption:'-----Select your Province-----'">
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="City">City</label>
                    <select class="form-control" id="city"
                            data-bind="value:CityId,
                        options:$root.CityList,
                        enable:$root.enableDisable,
                        optionsValue:'Value',
                        optionsText:'Text',
                        optionsCaption:'-----Select your City-----'">
                    </select>
                </div>
                <div class=" col-md-4">
                    <label for="CityCategory">City Category:       </label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input1" value="Metroplitan"
                               data-bind="checked:selectedCat, enable:$root.enableDisable" type="radio"
                               name="cityCategory" id="metroplitan">
                        <label class="form-check-label" for="metroplitan">Metroplitan</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input1" value="Municipality"
                               data-bind="checked:selectedCat,enable:$root.enableDisable" type="radio"
                               name="cityCategory" id="municipality">
                        <label class="form-check-label" for="municipality">Municipality</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input1" value="SubMunicipality"
                               data-bind="checked:selectedCat,enable:$root.enableDisable" type="radio"
                               name="cityCategory" id="subMunicipality">
                        <label class="form-check-label" for="subMunicipality">Sub Municipality</label>
                    </div>
                </div>
                <div class=" col-md-4">
                    <label for="Ward">Ward</label>
                    <input type="text" class="form-control"
                           data-bind="value:Ward,enable:$root.enableDisable"
                           id="ward" placeholder="Ward Number">
                </div>
                <div class=" col-md-4">
                    <label for="Tole">Tole</label>
                    <input type="text" class="form-control"
                           data-bind="value:Tole,enable:$root.enableDisable"
                           id="tole" placeholder="Tole">
                </div>


            </div>


        </div>
        <div class=" col-md-12" style="padding-top: 25px;">
            <button class="btn btn-success col-md-3" data-bind="event: {click: $root.submitaddress},enable: saveaddress"
                    type="button" id="btnSaveaddress">
                <i class="fas fa-save fa-md"> Submit</i>
            </button>
            @*<button class="btn btn-primary col-md-5" data-bind="event: {click: $root.submitaddress},enable: $root.enableDisablesubmitaddresss" type="button" id="btnsubmit"><i class="fas fa-backspace fa-md"> submit</i></button>*@
        </div>
        <div style="padding-top:100px;">
            <button class="btn btn-primary" data-bind="event: {click: $root.Update},enable: $root.enableDisableUpd" type="button" id="btnupdate"><i class="fas fa-backspace fa-md">Update Address</i></button>

        </div>

    </div>

   
    <div id="tabs-3">

        <div id="dataGrid1"></div>
    </div>

</div>

   


    <script src="~/Scripts/pis.js"></script>




    <script>
        $(document).ready(function () {
            $("#tabs").tabs();

            $("#dialogbox").dialog({
                autoOpen: false,
            });

        });
    </script>

